{:require [content-script.content-script]
 :compiler-options {:optimizations :whitespace ; must have at least whitespace because the content script must be a single file, among other things
                    :source-map true
                    :pretty-print true
                    :closure-output-charset "us-ascii"}} ; https://github.com/google/closure-compiler-issues/1704
